@font-face {
  font-family: TitleFont;
  src: url("./assets/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: pageFont;
  src: url("./assets/EncodeSans_Expanded-Light.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, PageFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

